<form [formGroup]="createForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput placeholder="Title" formControlName="title">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Start Date" formControlName="startDate" type="date">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Description" formControlName="description"></textarea>
  </mat-form-field>
  <button type="submit" [disabled]="createForm.pristine">
    Save
  </button>
</form>
