<form [formGroup]="createForm" (ngSubmit)="onSubmit()">
  <md-input-container>
    <input mdInput placeholder="Title" formControlName="title">
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="Start Date" formControlName="startDate" type="date">
  </md-input-container>
  <md-input-container>
    <textarea mdInput placeholder="Description" formControlName="description"></textarea>
  </md-input-container>
  <button type="submit" [disabled]="createForm.pristine">
    Save
  </button>
</form>
