<form [formGroup]="createForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput i18n-placeholder placeholder="Title" formControlName="title">
  </mat-form-field>
  <mat-form-field>
    <input matInput i18n-placeholder placeholder="Start Date" formControlName="startDate" type="date">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput i18n-placeholder placeholder="Description" formControlName="description"></textarea>
  </mat-form-field>
  <button type="submit" [disabled]="createForm.pristine" i18n>
    Save
  </button>
</form>
